*,
*::before,
*::after {
	margin: 0;
	padding: 0;

	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

thead, tbody, tr {
	display: contents;
}

body {
	height: 100%;
	font-family: 'Montserrat', sans-serif;

	font-size: 1.6rem;
	font-weight: 400;
	line-height: 1.6;

	//color: var(--color-primary);
}

button {
	font-family: inherit;
}

.App {
	width: 100vw;
	min-height: 100vh;

	height: 100%;

	background-color: var(--background);
}

.gameButtons {
	display: flex;
	gap: 1rem;
}

.container {
	width: 100%;
	max-width: 132rem;

	padding: 2rem;
	margin: 0 auto;
}
