:root {
	--primary: #ffffff;
	--background: #edf0f2;
	--background-secondary: #aeaeb6;

	--border-primary: #5271ff;
	--hover-primary: #f3f5ff;

	--color-primary: #18214c;
	--error-primary: #da291a;

	--red-role: #ffcccc;
	--black-role: #bababa;
}
